.noData {
    display: flex;
    align-items: center;
    justify-content: center;
}
.addEmployee {
    position: fixed;
    bottom: 32px;
    right: 27px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    opacity: 0px;
    background: #1DA1F2;
    color: #FFF !important;
    font-size: 39px;
    z-index: 1;
    border: none;
    cursor: pointer;
}
.allEmployeDiv {

    position: fixed;
    left: 0;
    top: 59px;
    height: 100vh;
    height: 100dvh;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #f2f2f2;
}
.EmployeDetails {
    height: 43vh;
    height: 43dvh;
    overflow: auto;
    overflow-x: hidden;
}

.Label {
    background: #F2F2F2;
    box-sizing: border-box;
    padding: 12px 17px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #1DA1F2;
    position: sticky;
    top: 0;
    z-index: 23;
}

span.employinfobar {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(122 122 122 / 9%);
    padding: 8px 17px;
    gap: 1px;
    transition: transform 0.3s ease-in-out;
}

.employinfobar span:nth-child(1) {
    color: #323238;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

.employinfobar span:nth-child(2) {
    color: #949C9E;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.employinfobar span:nth-child(3) {
    color: #949C9E;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.parentinfo {
    position: relative;
    background: #fff;
}

.delteIcon {
    position: absolute;
    background: #F34642;
    width: 50px;
    padding: 27px;
    right: 0;
    width: 78px;
    box-sizing: border-box;
    z-index: -1;
    top: 0;
    height: 99%;
}

.delteIcon img {
    width: 100%;
    height: 100%;
}

.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #323238;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    left: 0;
    height: 40px;
    color: #fff;
    box-sizing: border-box;
    padding: 17px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms ease-in-out;
}

.notification.notificationOpen {
    opacity: 1;
    pointer-events: auto;
}

.notification button {
    background: transparent;
    color: #1DA1F2;
    border: none;
    cursor: pointer;
}

.swipe {
    position: relative;
    bottom: -4px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #949C9E;
    display: flex;
    gap: 8px;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1px 17px;

}
.edit{
    background: #00c08f;
    position: absolute;
    left: 0;
    position: absolute;
    width: 50px;
    width: 78px;
    box-sizing: border-box;
    top: 0;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    z-index: -1;
}
.deskTopEdit{
    position: absolute;
    right: 79px !important;
    z-index: 22;
    top: 0;
    left: auto;
    width: 78px;
    cursor: pointer;
}
.desktopDelete{
    z-index: 22;
    cursor: pointer;
}

.desktopEmp{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.empDetailsDesktop{
    width: 47%;
    height: 81vh;
    background: #fff;
    box-sizing: border-box;
    padding: 0 0px;
    border: 2px solid #1DA1F2;
    box-sizing: border-box;
    padding: 0px 24px;
    border-radius: 14px;
    margin: 13px;
    filter: drop-shadow(2px 4px 6px #1DA1F2);
}
.deletedMSg{
    width: 29%;
    margin: auto;
    inset: 0;
    top: 88vh;
    bottom: 0;
    padding: 24px;
    font-size: 20px;
    border-radius: 7px;
    filter: drop-shadow(2px 4px 6px black);
}
.noDatafound{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    height: 35dvh;
    font-size: 20px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .addEmployee{
        bottom: 34px; 
        right: 27px;
    }
}